.toolbar-content {
  display: flex;
  justify-content: flex-start;
  position: relative;
  flex-direction: row;
  box-shadow: 0px -5px 10px 5px black;
}
.user-tabs-wrapper {
  position: absolute;
  top: 0;
  height: 63px;
  right: 0;
  display: flex;
  align-items: center;
}
.tab {
  display: inline-block;
  padding: 20px 10px;

  &:hover {
    background-color: #4f8bc6;
    cursor: pointer;
  }
}
.loggin {
  position: relative;
}
app-login {
  display: flex;
  height: 100%;
  align-items: center;
}
