<div class="contact-wrapper">
  <div class="map-content">
    <span class="location-title">
      Nuestra ubicación
    </span>
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAe3_DBupOjJ4SYOK1YdXBQIyJ9ol8smj4&q=Av+Bartolome+Mitre+750,Avellaneda"
      allowfullscreen>
    </iframe>
  </div>

  <div class="horario-container">
    <span class="title">Nuestros horarios de atención</span>
    <span class="row">
      <span class="dias">Lunes a Jueves</span>
      <span class="horario">18:00hs a 24:00hs</span>
    </span>
    <span class="row">
      <span class="dias">Viernes a domingos</span>
      <span class="horario">18:00hs a 02:00hs</span>
    </span>
    <span class="row">
      <span class="dias">Feriados</span>
      <span class="horario">19:00hs a 23:00hs</span>
    </span>
  </div>

</div>
