.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}
app-toolbar {
  width: 100%;
  background-color: #1976d2;
  color: white;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 9;
}
.view-content {

  padding: 20px;
  width: 80%;
  height:100%;
  z-index: -1;

  &.REGISTRO, &.LISTAUSUARIOS {
    display: flex;
    justify-content: center;
  }

  &.REGISTRO {
    display: flex;
    justify-content: center;
  }
}
app-login {
  width: 40%;
}
app-user-list {
  width: 100%;
}
